.follower-container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 15px 0;
}

.follower-info{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.follower-info .MuiAvatar-circle{
    transition: all .2s linear;
}

.follower-info .MuiAvatar-circle:hover{
    height: 50px;
    width: 50px;
}